<section class="content-header">
    <h1>
        <small>Upload Cnae</small>
    </h1>
    <ol class="breadcrumb">
        <li>
            <a href="#">
                <i class="class fa fa-dashboard"></i> Home</a>
        </li>
        <li class="active">
            <%#= link_to 'Ongs', ongs_path %>
        </li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-success">

                <!-- Inline Form -->
                <div class="box-header with-border">
                    <h3 class="box-title">CNAES</h3>
                    <div class="pull-right">
                        <%#= link_to '<i class="ion ion-chatbubble-working"></i>'.html_safe, new_path(@ong.user.id), :style => 'font-size:18px', :title => 'Enviar Mensagem','data-toggle' => 'tooltip', 'data-placement' => 'left'  %>
                    </div>
                </div>
                <div class="box-body">
                    <div class="col-md-12">
                        <div class="row">


                            <div>
                                <h4>Importar Cnae &emsp;<a data-toggle="modal" data-target="#infoImportCsv"><i class="glyphicon glyphicon-info-sign"></i></a></h4> 
                                <%= form_tag import_cnae_path, multipart: true do %>
                                <%= file_field_tag :file %>
                                <%= submit_tag "Importar", class: 'btn btn-primary btn-xs'  %>
                                <% end %> 
                                <br>
                            </div>
                        </div>
                        <% if @cnaes.present? %>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Tipo Transação</th>
                                    <th>Cartão</th>
                                    <th>CPF</th>
                                    <th>Valor</th>
                                    <th>Data</th>
                                    <th>Hora</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% @cnaes.each do |c| %>
                                <tr>
                                    <td><%= c.id %></td>
                                    <td><%= c.tp_occurrence %></td>
                                    <td><%= c.card %></td>
                                    <td><%= c.cpf %></td>
                                    <td><%= c.value %></td>
                                    <td><%= c.dt_occurrence.strftime('%d/%m/%Y') %></td>
                                    <td><%= c.tm_occurrence.strftime('%H:%M:%S') %></td>
                                </tr>
                                <% end %>
                            </tbody>
                        </table>
                        <% end %>
                        <!-- /.box-header -->
                        <!-- form start -->
                    </div>
                </div>
            </div>
            <!-- /.box -->
        </div>

    </div>
</section>