<%= bootstrap_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

<%= f.email_field :email, autofocus: true, placeholder: 'E-mail', hide_label: 'true', style: 'border-radius:0px' %>

<%= f.password_field :password, autocomplete: "off", placeholder: 'Senha', hide_label: 'true', style: 'border-radius:0px' %>


<%# if devise_mapping.rememberable? -%>

<%#= f.check_box :remember_me %>

<%# end -%>


<%= f.submit "Entrar", class: 'btn btn-primary btn-block',  style: 'border-radius:0px' %>

<% end %>