<!DOCTYPE html>
<html>

    <head>
        <title>Teste Cnae</title>
        <%= csrf_meta_tags %>

        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
    </head>

    <body class="hold-transition skin-blue fixed sidebar-mini">
        <div class="wrapper">

            <header class="main-header">
                <!-- Logo -->
                <a href="#" class="logo">
                    <!-- mini logo for sidebar mini 50x50 pixels -->
                    <span class="logo-mini">
                        <b>TC</b>
                    </span>
                    <!-- logo for regular state and mobile devices -->
                    <span class="logo-lg">
                        <b>Teste Cnae</b>
                    </span>
                </a>
                <!-- Header Navbar: style can be found in header.less -->
                <nav class="navbar navbar-static-top">
                    <!-- Sidebar toggle button-->
                    <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                        <span class="sr-only">Toggle navigation</span>
                    </a>

                    <div class="navbar-custom-menu">
                        <ul class="nav navbar-nav">
                            <!-- Messages: style can be found in dropdown.less-->

                            <!-- User Account: style can be found in dropdown.less -->
                            <li class="dropdown user user-menu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <%= image_tag('missing.jpg', :class => 'user-image', :alt => 'User Image')%>
                                    <span class="hidden-xs">
                                        <%= current_user.name%>
                                    </span>
                                </a>
                                <ul class="dropdown-menu">
                                    <!-- User image -->
                                    <li class="user-header">
                                        <%= image_tag('missing.jpg', :class => 'img-circle', :alt => 'User Image')%>
                                        <p>
                                            <%= current_user.name %> - Web Developer
                                            <small>Membro desde
                                                <%= current_user.created_at.strftime('%b de %Y') %>
                                            </small>
                                        </p>
                                    </li>
                                    <!-- Menu Body 
<li class="user-body">
<div class="row">
<div class="col-xs-4 text-center">
<a href="#">Followers</a>
</div>
<div class="col-xs-4 text-center">
<a href="#">Sales</a>
</div>
<div class="col-xs-4 text-center">
<a href="#">Friends</a>
</div>
</div>

</li>
<!-- Menu Footer-->
                                    <li class="user-footer">
                                        <div class="pull-left">
                                            <%#= link_to 'Meus Dados', edit_my_user_path, class: 'btn btn-default btn-flat' %>

                                        </div>
                                        <div class="pull-right">
                                            <%= link_to('Sair', destroy_user_session_path, :method => :delete, :class => 'btn btn-default btn-flat') %>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <!-- Control Sidebar Toggle Button
<li>
<a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
</li> -->
                        </ul>
                    </div>
                </nav>
            </header>
            <% if current_user.present? %>
            <!-- Left side column. contains the logo and sidebar -->
            <aside class="main-sidebar">
                <!-- sidebar: style can be found in sidebar.less -->
                <section class="sidebar">
                    <!-- Sidebar user panel -->
                    <div class="user-panel">
                        <div class="pull-left image">
                            <%= image_tag('missing.jpg', :class => 'img-circle', :alt => 'User Image')%>
                        </div>
                        <div class="pull-left info">
                            <p>
                                <br>
                                <%= current_user.name %>
                            </p>
                            <!--<a href="#"><i class="fa fa-circle text-success"></i> Online</a>-->
                        </div>
                    </div>

                    <!-- sidebar menu: : style can be found in sidebar.less -->
                    <ul class="sidebar-menu tree" data-widget="tree">
                        <li class="header">Menu</li>
                        <!--Dashboard link-->

                        <!-- <li class="<%= active_class('/dashboards') %>">
<%#= link_to '<i class="fa fa-dashboard"></i> <span>Dashboard</span>'.html_safe,  dashboards_path %>
</li> -->





                    </ul>
                </section>
                <!-- /.sidebar -->
            </aside>
            <% end %>
            <!-- Content Wrapper. Contains page content -->
            <div class="content-wrapper">
                <div style="margin:10px">
                    <%= render partial: "shared/flash_messages", flash: flash %>
                </div>

                <%= yield %>
                <!-- /.content -->
            </div>
            <!-- /.content-wrapper -->
            <footer class="main-footer">
                <div class="pull-right hidden-xs">
                    <b>Version</b> 1.0.0
                </div>
                <strong>Copyright &copy; 2017
                    <a href="https://vanessasoutoc.ga">Vanessa Souto</a>.</strong> All rights reserved.
            </footer>
        </div>
    </body>

</html>